.DS_Store
cs.dat
cs.msh

*.o
*.bin
*.pdf
*.pyc
*.out
*.log
generic3d*
!test-ref/*.bin
!test-ref/*.dat
!pan/test/generic3d_03-cR.bin
!pan/test/generic3d_04-cR.bin
!pan/test/generic3d_03_cuda-cR.bin
!pan/test/generic3d_04_cuda-cR.bin
!pan/test/generic3d_03_mkl-cR.bin
!pan/test/generic3d_04_mkl-cR.bin
__pycache__/
*.dSYM/
job_*.h5
build/
build_cuda/
